src
lib
logs
build
.editorconfig
.eslintrc.json
.gitignore
.travis.yml
.github
rollup.config.dev.js
rollup.config.js
yarn-error.log
coverage
dist/test
dist/jest*
test
examples
node_modules
tsconfig.json
.vscode/